.post {
  background-color: white;
  margin: 10px auto;
  width: 95%;
  padding: 15px;
  border-radius: 25px;
}

.mouse-style {
  font-weight: bold;
  font-size: large;
  color: violet;
}
.mouse-state {
  background-color: yellowgreen;
  color: orangered;
}
